
@{
    ViewBag.Title = "MatchApi";
}

<h2>MatchApi</h2>

<script>
  $.ajax({
    dataType: 'json',
    type: 'GET',
  }).done(function (response) {
    
    + data[i].homeTeamName + data[i].awayTeamName + data[i].result .appendTo("#tdFixture");
    
    var regex = /.*?(\d+)$/; // the ? makes the first part non-greedy
    var res = regex.exec(response.fixtures[0]._links.awayTeam.href);
    var teamId = res[1];
    console.log(teamId);
  });
</script>




