<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bet4honor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bet4honor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bet4honor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bet4honor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Bet4honorDb" Order="4" Enabled="True">
          <Destination Path="Data Source=eu-cdbr-azure-north-d.cloudapp.net;Initial Catalog=bet4honAPDSGTLCL;User ID=bb04cd6a3d4d7c;Password=19e66531" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BettingApplication.Models.ApplicationDbContext, BettingApplication" MigrationConfiguration="BettingApplication.Migrations.Configuration, BettingApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BettingApplication.Models.Fixtures+ApplicationDbContext" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:a5546lhhfs.database.windows.net,1433;Initial Catalog=Bet4HonorDb;User ID=Bet4HonorDbLogin@a5546lhhfs;Password=0Pruttludd!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BettingApplication.Models.Fixtures+ApplicationDbContext, BettingApplication" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Bet4honorDb-Web.config Connection String">
      <ParameterValue>Data Source=eu-cdbr-azure-north-d.cloudapp.net;Initial Catalog=bet4honAPDSGTLCL;User ID=bb04cd6a3d4d7c;Password=19e66531</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BettingApplication.Models.Fixtures+ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a5546lhhfs.database.windows.net,1433;Initial Catalog=Bet4HonorDb;User ID=Bet4HonorDbLogin@a5546lhhfs;Password=0Pruttludd!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BettingApplication.Models.Fixtures+ApplicationDbContext" />
  </ItemGroup>
</Project>